{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-11 mx-auto card-body mb-5 AddEditForm">
             {{ form_start(skatepark_form) }}
                <div class="form-group">
                  {{ form_row(skatepark_form.region, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(skatepark_form.ville, {'attr': {'placeholder': 'Ville', 'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                     {{ form_row(skatepark_form.contenu, {'attr': {'placeholder': 'Contenu', 'rows': '5', 'class': 'form-control'}}) }}
                </div>
                <div class="form-group d-flex justify-content-between" id="adresseImageForm">
                    <div class="col-6 pl-0">
                        {{ form_row(skatepark_form.adresse, {'attr': {'placeholder': 'Adresse', 'class': 'form-control'}}) }}
                    </div>

                    <div class="col-6 pr-0">
                        {{ form_row(skatepark_form.imageFile, {'label': 'Image', 'attr': {'placeholder': 'Adresse', 'class': 'form-control profilInputImage'}}) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Envoyer le skatepark</button>
            {{ form_end(skatepark_form) }}
        </div>
    </div>
</div>

{% endblock %}
