{% extends 'base.html.twig' %}

{% block title %}Gestion des articles{% endblock %}

{% block body %}

<div class="container mt-5">

    {% for message in app.flashes('success') %}
    <div class="mb-3">
        <div class="alert alert-success position-relative">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    <table class="table">
        <thead id="adminTab translucide-bouton">
            <tr class="center_form border border-secondary">
                <th class="text-left border-secondary" scope="col">Ville</th>
                <th class="text-center border-secondary" scope="col">Région</th>
                <th class="text-center border-secondary" scope="col">Actions</th>
            </tr>
        </thead>

        <tbody id="adminTabRow">
        {% for skatepark in skateparks %}
        {% if skatepark.validate is same as(false) %}
            <tr class="center_form">
                <td>{{skatepark.ville}}</td>
                <td class="text-sm-center">{{skatepark.region}}</td>
                <td class="text-center">
                    <a class="btn translucide-bouton icon_btn text-warning border-warning"
                        href="{{ path('show_skatepark', {'id': skatepark.id}) }}"><i
                            class="far fa-eye"></i>
                    </a>
                    <a class="btn translucide-bouton icon_btn text-info border-info"
                        href="{{ path('Skatepark_edit', {'id': skatepark.id}) }}"><i
                            class="far fa-edit"></i>
                    </a>
                    <a class="btn translucide-bouton text-danger border-danger"
                        href="{{ path('Skatepark_delete', {'id': skatepark.id}) }}"><i
                            class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
           {% else %}
            <tr class="center_form">
                <td>
                    {{skatepark.ville}}<p class="text-info SkateparkValide">Non approuvé</p>
                </td>
                <td class="text-sm-center">{{skatepark.region}}</td>
                <td class="text-center">
                    <a class="btn translucide-bouton icon_btn text-success border-success"
                        href="{{ path('Skatepark_validation', {'id': skatepark.id}) }}"><i
                            class="far fa-thumbs-up"></i>
                    </a>
                    <a class="btn translucide-bouton icon_btn text-warning border-warning"
                        href="{{ path('show_skatepark', {'id': skatepark.id}) }}"><i
                            class="far fa-eye"></i>
                    </a>
                    <a class="btn translucide-bouton icon_btn text-info border-info"
                        href="{{ path('Skatepark_edit', {'id': skatepark.id}) }}"><i
                            class="far fa-edit"></i>
                    </a>
                    <a class="btn translucide-bouton text-danger border-danger"
                        href="{{ path('Skatepark_delete', {'id': skatepark.id}) }}"><i
                            class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination mt-4">
        <div class="pagination_numbers mx-auto">
            {{ knp_pagination_render(skateparks) }}
        </div>
    </div>
    <a class="btn mb-5" href="{{ path('Skatepark_add') }}" id="addSkateParkBtn">Ajouter un SkatePark</i></a>
</div>

{% endblock %}
