{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

<div class="container mt-5">

  {% for message in app.flashes('success') %}
    <div class="mb-3">
        <div class="alert alert-success position-relative">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    <table class="table border">
        <thead id="adminTab translucide-bouton">
            <tr class="center_form border border-secondary">
            <th class="border-secondary" scope="col">Pseudo</th>
            <th class="text-center border-secondary" scope="col">Status</th>
            <th class="text-center border-secondary" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="adminTabRow">
            {% for user in Users %}
                <tr class="center_form">
                    <td>
                        {{ user.username }}
                    </td>
                    <td class="text-sm-center">
                        {% for role in user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                Administrateur
                            {% elseif role == "ROLE_USER"%}
                                Utilisateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center icon_container">
                        <a class="btn translucide-bouton text-success border-success icon_btn" href="{{ path('UsersGestion_setuser', {'id': user.id}) }}"><i class="fas fa-user"></i></a>
                        <a class="btn translucide-bouton text-info border-info icon_btn" href="{{ path('UsersGestion_setadmin', {'id': user.id}) }}"><i class="fas fa-user-shield"></i></a>
                        <a class="btn translucide-bouton text-danger border-danger" href="{{ path('UsersGestion_delete', {'id': user.id}) }}"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
