{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="ml-auto mt-4 mr-md-5 mr-3" id="favorisIcon">
            <a href="index.php?action=Favoris&amp;id=<?= $skateparkPage['id'] ?>"><i class="fas fa-heart" id="coeurPlein"></i></a>
            <a href="index.php?action=Favoris&amp;id=<?= $skateparkPage['id'] ?>"><i class="far fa-heart" id="coeurVide"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-8 ml-md-5 mx-auto text-center text-md-left" id="SkateParkTitle">
            <h1>Skatepark de <span id="SkateparkName">{{ skatepark.ville }}</span></h1>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-5 col-10 mt-5 ml-md-5 mx-auto" id="SkateParkDescriptionLeft">
            <h2 class="text-center mb-4 ">Description</h2>
            <img src="../Images/MiniatureSkateParks/{{ skatepark.image }}" alt="..." class="col-12 p-0 m-0">
            <p class="mt-5">{{ skatepark.contenu }}</p>
        </div>
        <div class="col-md-4 mt-5 mr-5 ml-5 ml-md-0" id="SkateParkDescriptionRight">
            <div>
                <h2 class="text-center mb-5">Adresse</h2>
                <p class="mt-4 text-center">{{ skatepark.region }}</p>
                <p class="mt-2 text-center">{{ skatepark.adresse }}</p>
            </div>

            <div>
                <h2 class="text-center mb-5 mt-5">Notes des membres</h2>
                    <div class="mx-auto" id="avgNotes"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
