{% extends 'base.html.twig' %}

{% block title %}skatepark de {{ skatepark.ville }}{% endblock %}

{% block body %}

<div class="container-fluid">
    {% if app.user %}
    <div class="row">
        <div class="ml-auto mt-4 mr-md-5 mr-3" id="favorisIcon">
            <a href=""><i class="fas fa-heart" id="coeurPlein"></i></a>
            <a href="{{ path('Skatepark_favoris', {'id': skatepark.id}) }}"><i class="far fa-heart" id="coeurVide"></i></a>
        </div>
    </div>
    <div class="row">
    {% else %}
    <div class="row mt-5">
    {% endif %}
        <div class="col-md-5 col-8 ml-md-5 mx-auto text-center text-md-left" id="SkateParkTitle">
            <h1>Skatepark de <span id="SkateparkName">{{ skatepark.ville }}</span></h1>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-5 col-10 mt-5 ml-md-5 mx-auto" id="SkateParkDescriptionLeft">
            <h2 class="text-center mb-4 ">Description</h2>
            <img src="{{ vich_uploader_asset(skatepark, 'imageFile') }}" alt="..." class="col-12 p-0 m-0">
            <p class="mt-5">{{ skatepark.contenu }}</p>
        </div>
        <div class="col-md-4 mt-5 mr-5 ml-5 ml-md-0" id="SkateParkDescriptionRight">
            <div>
                <h2 class="text-center mb-5">Adresse</h2>
                <p class="mt-4 text-center">{{ skatepark.region }}</p>
                <p class="mt-2 text-center">{{ skatepark.adresse }}</p>
            </div>

            <div>
                <h2 class="text-center mb-5 mt-5">Notes des membres</h2>
                <div class="mx-auto" id="avgNotes"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between mb-5 mt-5">
        <div class="col mr-5 ml-5" id="SkateParkDescriptionMap">
            <h2 class="text-center mb-4 ">Localisation</h2>
            <iframe src="https://maps.google.com/maps?q={{ skatepark.adresse }}&output=embed" height="300"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                class="col-12 p-0"></iframe>
        </div>
    </div>
    <div class="row mb-5 mr-5 ml-5" id="SkateparkCommentaireForm">
        <h2 class="text-center mb-4 col-12">Commentaires</h2>
        <div class="col-12 card-body card" id="CommentForm">

            {% if app.user %}
            <div class="form-group ml-3 ml-lg-0 mr-3 mr-lg-0">
                <label for="comment">Note :</label>
                <div class="p-0" id="rateYo"></div>
            </div>
            {{ form_start(commentaireForm) }}
            <div class="form-group ml-3 ml-lg-0 mr-3 mr-lg-0">
                {{ form_row(commentaireForm.contenu, {'attr': {'placeholder': 'Votre commentaire', 'class': 'form-control comment_input inputCommentForm'}}) }}
            </div>
            <button type="submit" class="btn btn-dark ml-3 ml-lg-0">Envoyer</button>
            {{  form_end(commentaireForm) }}

            {% else %}
            <h3 class="text-center px-5" id="connectPublishComment">Veuillez vous connecter pour publier un commentaire
            </h3>
            <form class="form-inline">
                <a href="{{ path('security_connexion') }}" class="btn btn-dark mt-3 mx-auto">SE CONNECTER</a>
            </form>
            {% endif %}

        </div>
    </div>

    {% for commentaire in skatepark.Comments %}
    <div class="row mr-5 ml-5" id="SkateparkCommentaire">
        <div class="d-flex flex-row card-body card mb-3">
            <div class="ml-3 ml-lg-0">
                <div id="UserCommentImage"></div>
            </div>
            <div class="ml-2 col-lg-11">
                <p class="ml-2 ml-lg-0"><strong>{{ commentaire.username }}</strong> le {{ commentaire.createdAt | date('d/m/Y') }}</p>
                <p>
                    <div class="p-lg-0 mt-1 rateYo-{{ commentaire.note }}"></div>
                </p>

                <script>
                    $(function () {
                        $(".rateYo-{{ commentaire.note }}").rateYo({
                            starWidth: "15px",
                            readOnly: true,
                            rating: {{ commentaire.note }}
                        });
                    });
                </script>
                <form class="form-inline flex-nowrap">
                    <p class="mt-2 ml-2 ml-lg-0"> {{ commentaire.contenu }}</p>
                    <a class="btn btn-danger ml-auto mr-4 mr-lg-0 signalercomment"
                        href="index.php?action=signalerCommentaire&amp;id=<?= $comments['id'] ?>&amp;postid=<?= $skateparkPage['id'] ?>"><i
                            class="fas fa-exclamation"></i></a>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

<script>
    $(function () {
        $("#rateYo").rateYo({
            fullStar: true,
            onSet: function (rating, rateYoInstance) {
                $(".rating").val(rating);
            }
        });

        $("#avgNotes").rateYo({
            starWidth: "40px",
            readOnly: true,
            rating: ''
        });
    });
</script>

{% endblock %}
